body{
    height: 100vh;
    background-image: url(images/fondo2.jpg);
}

.title {
    color: white ;
    text-shadow: 10px 10px 10px #B06503;
    text-align: center;
    background-color: #EA4134;
    border-radius: 10px;
    display: none;
}


.galleta {
    height: 80vh;
    color: white ;
    text-shadow: 10px 10px 10px #B06503;
    text-align: center;
    /* background-color: #ea4034; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#alumno{
    font-size: 60px;
}
img{
    width: 600px;
}